<header style="background-color: #161B22">
    <div class="flex justify-between">

        <nav class="navbar text-white mx-1">

            <div class="navbar-start">
                <a [routerLink]="['/']" class="text-2xl text-emerald-400 font-inter font-medium"> >_Central Junior
                </a>
            </div>

            <div class="navbar-center">
                <div class="join flex items-center w-[600px]">

                    <input type="text" [formControl]="searchControl" placeholder="Pesquisar..."
                        (keydown.enter)="onSearch()"
                        class="input input-bordered join-item w-full focus:outline-none focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500 text-white transition-colors"
                        style="background-color:#0D1117;" />

                    <button type="button" (click)="onSearch()" class="btn btn-bordered join-item border-l-0 border-emerald-500"
                        style="background-color:#0D1117; border: #0D1117;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="h-5 w-5 text-emerald-500">
                            <path fill-rule="evenodd"
                                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>

                </div>
            </div>

            <div class="navbar-end flex items-center gap-4">

                <span class="font-inter font-medium">Olá, Yves Pereira!</span>

                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-12 rounded-full">
                            <img alt="Avatar do usuário"
                                src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                        </div>
                    </div>
                </div>

            </div>

        </nav>

    </div>
</header>