<aside class="w-[230px] max-w-[230px] h-full bg-[#010409] py-7 px-4 border-r border-[#30363d]">

    <ul class="flex flex-col gap-3 w-full font-inter font-medium text-base text-[#8b949e]">
        @if (myProfileId()) {
        <li>
            <a [routerLink]="['/profiles', myProfileId()]" routerLinkActive="bg-emerald-600/25 text-emerald-300"
                class="flex items-center gap-3 px-4 py-3 rounded-lg transition-colors duration-200 hover:bg-[#161b22] hover:text-[#c9d1d9] group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 transition-transform group-hover:scale-110">
                  <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                </svg>
                <span>Meu perfil</span>
            </a>
        </li>
        }
        <li>
            <a routerLink="/articles" routerLinkActive="bg-emerald-600/25 text-emerald-300"
                class="flex items-center gap-3 px-4 py-3 rounded-lg transition-colors duration-200 hover:bg-[#161b22] hover:text-[#c9d1d9] group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="size-4 fill-current">
                    <path
                        d="M352.9 21.2L308 66.1 445.9 204 490.8 159.1C504.4 145.6 512 127.2 512 108s-7.6-37.6-21.2-51.1L455.1 21.2C441.6 7.6 423.2 0 404 0s-37.6 7.6-51.1 21.2zM274.1 100L58.9 315.1c-10.7 10.7-18.5 24.1-22.6 38.7L.9 481.6c-2.3 8.3 0 17.3 6.2 23.4s15.1 8.5 23.4 6.2l127.8-35.5c14.6-4.1 27.9-11.8 38.7-22.6L412 237.9 274.1 100z" />
                </svg>
                <span>Artigos</span>
            </a>
        </li>

        <li>
            <a routerLink="/questions" routerLinkActive="bg-emerald-600/25 text-emerald-300"
                class="flex items-center gap-3 px-4 py-3 rounded-lg transition-colors duration-200 hover:bg-[#161b22] hover:text-[#c9d1d9] group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="size-4 fill-current">
                    <path
                        d="M64 160c0-53 43-96 96-96s96 43 96 96c0 42.7-27.9 78.9-66.5 91.4-28.4 9.2-61.5 35.3-61.5 76.6l0 24c0 17.7 14.3 32 32 32s32-14.3 32-32l0-24c0-1.7 .6-4.1 3.5-7.3 3-3.3 7.9-6.5 13.7-8.4 64.3-20.7 110.8-81 110.8-152.3 0-88.4-71.6-160-160-160S0 71.6 0 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm96 352c22.1 0 40-17.9 40-40s-17.9-40-40-40-40 17.9-40 40 17.9 40 40 40z" />
                </svg>
                <span>Perguntas</span>
            </a>
        </li>

        <li>
            <a routerLink="/collections" routerLinkActive="bg-emerald-600/25 text-emerald-300"
                class="flex items-center gap-3 px-4 py-3 rounded-lg transition-colors duration-200 hover:bg-[#161b22] hover:text-[#c9d1d9] group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                    class="size-5 fill-current transition-transform group-hover:scale-110">
                    <path
                        d="M64 0C28.7 0 0 28.7 0 64L0 480c0 11.5 6.2 22.2 16.2 27.8s22.3 5.5 32.2-.4L192 421.3 335.5 507.4c9.9 5.9 22.2 6.1 32.2 .4S384 491.5 384 480l0-416c0-35.3-28.7-64-64-64L64 0z" />
                </svg>
                <span>Salvos</span>
            </a>
        </li>

    </ul>

</aside>