/* Fontsource imports */
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/lora/400.css";
@import "@fontsource/lora/400-italic.css";
@import "@fontsource/lora/500.css";
@import "@fontsource/lora/600.css";
@import "@fontsource/lora/700.css";

@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
  --font-sans: "Inter", sans-serif;
}