<!-- Title "Answers:" -->
<div class="w-[940px] max-w-[940px] container mx-auto mt-6 mb-2">
    <h2 class="text-[#C9D1D9] text-xl font-bold font-inter border-l-4 border-[#3FB950] pl-3">Respostas:</h2>
</div>

<!-- list of answers -->
<ul class="w-full max-w-[940px] h-auto container mx-auto my-4 rounded-md bg-[#1C2128] text-white shadow-md">
    @for (answer of answers(); track answer.answerId) {
    <li>
        <section class="flex gap-3 px-3 pt-3 h-[70px] text-xs">
            <a [routerLink]="['/profiles', answer?.profile?.profileId]">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-12 rounded-full">
                        <img alt="Avatar do usuário"
                            src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                    </div>
                </div>
            </a>
            <div class="flex flex-col gap-1 font-inter">
                <span class="font-semibold text-base mt-1">
                    {{ answer.profile.name }}
                </span>
                <div
                    class="w-fit px-3 text-emerald-500 text-center bg-emerald-500/10 rounded-full border-2 border-emerald-500/30">
                    {{ answer.profile.level }}
                </div>
            </div>
        </section>

        <section class="px-4 py-2">
            <p class="py-1 break-words text-[#8B949E] text-justify leading-relaxed font-lora font-semibold">
                {{ answer.content }}
            </p>
            <div class="flex flex-row items-center mt-2 gap-2">
                <button (click)="toggleAnswerLike(answer.answerId)"
                    class="group flex items-center gap-1 py-1 transition-all" [class.text-[#3FB950]]="answer.liked"
                    [class.hover:text-[#3FB950]]="answer.liked">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                        class="size-6 fill-current transition-transform group-hover:scale-110">
                        <path
                            d="M241 87.1l15 20.7 15-20.7C296 52.5 336.2 32 378.9 32 452.4 32 512 91.6 512 165.1l0 2.6c0 112.2-139.9 242.5-212.9 298.2-12.4 9.4-27.6 14.1-43.1 14.1s-30.8-4.6-43.1-14.1C139.9 410.2 0 279.9 0 167.7l0-2.6C0 91.6 59.6 32 133.1 32 175.8 32 216 52.5 241 87.1z" />
                    </svg>
                    <span class="text-sm font-medium">{{ answer.answerTotalLikes }}</span>
                </button>
            </div>
            <hr class="border-[#8B949E] mt-2">
        </section>
    </li>
    }
</ul>

<app-pagination [isEmpty]="isEmpty()" [isFirst]="isFirst()" [isLast]="isLast()" [pageSize]="pageSize()"
    [currentPage]="currentPage()" [numberOfElements]="numberOfElements()" [totalElements]="totalElements()"
    [totalPages]="totalPages()" (pageChange)="loadAnswersFromQuestion($event, pageSize())">
</app-pagination>